html,
body {
    margin: 0;
}

body {
    background-color: #1d1c1c;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 990x;
    display: flex;
    background-color: black;
}

.menu {
    width: 170px;
    background-color: aqua;
    padding: 100px 10px 0;
}

.logotipo {
    margin: -58% -1% 0%;
    text-align: left;
}

.bannermenu {
    margin: -1px;
    text-align: left;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.header {
    background-color: rgb(5, 108, 108);
    height: 152px;
    width: 800px;
}

.bannerclinica {
    margin: auto;
    display: block;
}

.content {
    background-color: rgb(139, 134, 134);
    color: black;
    min-height: 100px;
    padding: 79px;
}

.contentcontato {
    text-align: left;
    margin: -12% -10% 0;
}

.contentrua {
    text-align: left;
    margin: 1% -10% 0;
}

.localizacao {
    text-align: left;
    margin: 20% -10% 0%;
}

.iframe {
    text-align: left;
    margin: -2% -10% 0%;
}

.formtext {
    text-align: right;
    margin: -24% 15% 0%;
}

.form {
    text-align: left;
    margin: -50% 36% 0;
}

.formtamanho {
    width: 345px;
}

.footer {
    background-color: black;
    height: 85px;
    color: white;
}

.home{
    text-align:left;    
    padding: 30px 50px 0px; 
}

.clinica {
    margin-top: -5%;
    padding: 5px 140px 0px;
}

.atendimento {
    margin-top: -5%;
    padding: 5px 240px 0;
}

.contato {
    margin-top: -5%;
    padding: 5px 370px 0;
}

.developer {
    color:white;
    text-align: right;
    padding: 2px 15px 0px;
}
