body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.principal{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 19% 79.5%;
    grid-template-rows: 1px 350px 70px;
    grid-template-areas: "cabecalho cabecalho"
                         "barra-lateral secao"
                         "rodape rodape";
    row-gap: 1px;
    column-gap: 1px;                         
}

header{
    grid-area: cabecalho;
    margin: 1%;
    width: 1276px;
    height: 154px;
    border: 1px solid white;
}

aside{
    grid-area: barra-lateral;
    margin: -4px 13px;
    width: 175px;
    height: 345px;
    border: 1px solid white;
    background-color: #0B0B3B;
}

section{
    grid-area: secao;
    margin: -3.1px -55px;
    width: 1092px;
    height: 345px;
    background-color: #6E6E6E;
    border: 1px solid white;
}

footer{
    grid-area: rodape;
    display: flex;
    justify-content: space-evenly;
    margin: -5.1% 1%;
    width: 1278px;
    height: 87px;
    background-color: #151515;   
    border: 1px solid white;
}

.logotipo{
    margin: 0%;
    padding-top: 0% 0%;
}

.banner{
    margin-top: 0%;
}

.menu{
    list-style: none;
    text-align: center;
    margin-right: 50px;
}

.link-home{
    text-decoration: none;
    color: aqua;
}

.link-home:hover{
    color: white;
}

.link-clinica{
    text-decoration: none;
    color: aqua;
}

.link-clinica:hover{
    color: white;
}

.link-atendimento{
    text-decoration: none;
    color:aqua;
}

.link-atendimento:hover{
    color: white;
}

.link-contato{
    text-decoration: none;
    color: aqua;
}

.link-contato:hover{
    color: white;
}

.bannermenu{
    margin: -5% 5%;    
}

.sectioncontato{
    margin: 1% 1%;
    font-size: 25px;
    color: black;
    width: 150px;
}

.contatotext{
    margin: 2% 1%;
    color: black;
}

.localizacao{
    margin: -160px 300px;
    font-size: 25px;
    width: 130px;
}

.iframe{
    margin: 180px 300px;
    width: 300px;
    height: 250px;
}

.formtext{
    margin: -485px 650px;
    width: 250px;
}

.form{
    margin: 490px 650px;
    width: 300px;
}

.formtamanho{
    width: 290px;
}

.developer{
    font-size: 10px;
    margin: 5.7% -17%;
}

@media (max-width: 360px){
    .principal{
        grid-template-columns: 100%;
        grid-template-areas: "cabecalho" "barra-lateral" "secao" "rodape";
    }

    html{
        height: 0px;
    }

    body{
        height: 1660px;
    }
    
    header{
        margin: 2%;
        width: 345px;
        height: 265px;
    }

    .logotipo{
        margin: 1% 26%;  
    }

    .banner{
        margin: -1% 1.5%;
        width: 335px;
        height: 100px;
    }

    aside{
        margin: 1.8% 2%;
        width: 345px;
        height: 310px;
    }
    
    .bannermenu{
        margin: -3% 2%;
        width: 330px;
        height: 200px;
    }

    section{
        margin: -20px 7px;
        width: 345px;
        height: 930px;
    }

    .sectioncontato{
        margin: 15px 90px;
        text-align: center;
        width: 165px;
    }

    .contatotext{
        text-align: center;
    }

    .localizacao{
        margin: 30px 100px;
        text-align: center;
    }

    .iframe{
        margin: -15px 10px;
    }

    .formtext{
        margin: 40px 20px;
        width: 300px;
    }

    .form{
        margin: -35px 20px;
        font-size: 18px;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .footer{
        margin: 850px 7px;
        width: 345px;
        height: 100px;
    }

    .developer{
        margin: 5%;
    }
}
