body{
    margin: 0;
    padding: 0;
    background-color: black;  
    color: white;
}

.principal {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 19% 79.5%;
    grid-template-rows: 1px 350px 70px;
    grid-template-areas: "cabecalho cabecalho" 
                         "barra-lateral secao" 
                         "rodape rodape";
    row-gap: 1px;   
    column-gap: 1px;                  
}

header {
   grid-area: cabecalho;   
   margin: 1%;
   width: 1277px;
   height: 154px;
   border: 1px solid white;
}

aside {
    grid-area: barra-lateral;
    margin: -4px 13px;
    width: 175px;
    height: 345px;
    background-color: #0B0B3B;
    border: 1px solid white;
}

section {
    grid-area: secao;
    margin: -3px -55px;
    width: 1094px;
    height: 344px;
    background-color: rgb(33, 90, 196);
    border: 1px solid white;   
 }

 footer {
    grid-area: rodape;
    display: flex;
    justify-content: space-evenly;
    margin: -5.1% 1%;
    max-width: 1279px;
    height: 87px;
    background-color: #151515;
    border: 1px solid white;
}
 
 .banner{
   margin: -5.15 14%;
   max-width: 100%;
 }

 .menu{
  list-style: none;
  text-align: center;
  margin-right: 50px;
 }

 .link-home{
  text-decoration: none; 
  color: aqua;
  }
 
 .link-home:hover{ 
  color: white;
  }
 
 .link-clinica{
  text-decoration: none;
  color: aqua;
 }
 
 .link-clinica:hover{
  color:white;
 }  

 .link-atendimento{
  text-decoration: none;
  color: aqua;
 }

 .link-atendimento:hover{
  color:white;
 }

 .link-contato{
  text-decoration: none;
  color: aqua;
 }

 .link-contato:hover{
  color:white;
 }
  
 .bannermenu{
  margin: -5% 5%;
 }

 .homesection{
  margin: 3% 3%; 
 } 

 .hometext{
  margin: 3%;
 }

 .consultoriohome{
  margin: -20% 81%;
 }

 .developer{
  font-size: 10px;
  margin: 5.7% -17%;
}

@media(max-width: 360px),(max-width: 720px){
    .principal {
        grid-template-columns: 100%;
        grid-template-areas: "cabecalho" "barra-lateral" "secao" "rodape";
    }

    html{
      height: 0px;
    }

    body{
      height: 1535px;
    }
    
    header{
      margin: 2%;
      width: 345px;
      height: 265px;
    }

    .logotipo{
      margin: 1% 26%;
    }

    .banner{
      margin: -1% 1.5%;
      width: 335px;
      height: 100px;
    }

    aside{
      margin: 2% 2%;
      width: 345px;
      height: 310px;
    }
    
    .bannermenu{
      margin: -3% 2%;
      width: 330px;
      height: 200px;
    }
    
    section{
      margin: -5% 2%;
      width: 345px;
      height: 800px;
    }
    
    .homesection{
      text-align: center;
    }

    .hometext{
      text-align: center;
    }
    
    .consultoriohome{
      margin: 4% 19%;
      width: 200px;
    }
        
    footer {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        border: 1px solid white;
    }

    .footer{
      margin: 725px 7px;
      width: 345px;
      height: 100px;
    }

    .developer{
      margin: 5%;
    }
}

@media(min-width: 720px) and (max-width: 768px){
  .principal{
    grid-template-columns: 100%;
    grid-template-areas: "cabecalho" "barra-lateral" "secao" "rodape";
  }

  html{
    height: 0px;
  }

  body{
    height: 515px;
  }

  header{
    margin: 2%;
    width: 693px;
    height: 105px;
  }

  .logotipo{
    margin: 0px 1px;
    width: 120px;
    height: 100px;
  }

  .banner{
    margin: 1px -5px;
    width: 570px;
  }

  aside{
    margin: -5px 14px;
    width: 120px;
    height: 570px;
  } 

  .menu{
    margin: 10px -20px;
    width: 80px;
    font-size: 13px; 
  }

  .bannermenu{  
    margin: 0px 5px;
    width: 110px;
    height: 480px;
  }

  section{
    margin: -356px 143px;
    width: 563px;
    height: 570px;
    font-size: 14px; 
  }
  
  .consultoriohome{
    margin: 0px 160px;
  }

  .footer{
    margin: 150px 13px;
    width: 693px;
  }

  .developer{
    margin: -11px 165px;
    font-size: 10px;
  }
}